/*---------------------------------------*/
/*----basic setup -------*/
/*---------------------------------------*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    background-color: aliceblue#fff;
    color: #555555;
    font-family: 'Lato', 'Ariali', sans-serif;
    font-weight: 300;
    font-size: 20px;
    text-rendering: optimizeLegibility;
}

/*---------------------------------------*/
/*---------reusable component------------*/
/*---------------------------------------*/

.row{
    max-width: 1140px;
    margin: 0 auto; /* 0 auto 0 auto */
}
.section-feature {
    padding: 80px 0;
}
.box {
    padding: 1%;
}

/*---headline---*/

h1,
h2,
h3 { 
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 1px;
}
h1{
    margin-top: 0;
    margin-bottom: 20px;
    color: #fff;
    font-size: 240%;
    word-spacing: 4px;
}

h2{
    margin-top: 0;
    margin-bottom: 20px;
    font-size: 180%;
    word-spacing: 2px;
    text-align: center;
}

h3 {
    font-size: 115%;
    margin-bottom: 15px;
}

h2::after {
    display: block;
    height: 2px;
    background-color: #e67e22;
    content: " ";
    width: 100px;
    margin: 0 auto;
    margin-top: 30px;
}

.hero-text-box {
    position: absolute;
    width: 1140px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

/*-----paragraph----*/

.long-copy {
    line-height: 150%;
    width: 65%;
    margin-left: 20%;
}

.box {
    font-size: 90%;
    line-height: 150%;
    text-align: justify;
}
/*---icons---*/
.icon-big {
    font-size: 400%;
    display: block;
    color: #e67e22;
    margin-bottom: 10%;
}

/*----buttons---*/

.btn:link,
.btn:visited {
    display: inline-block;
    padding: 10px 30px;
    text-decoration: none;
    font-weight: 300;
    border-radius: 200px;
    transition: backgorund-color 0.2s, border 0.2s, color 0.2s;
    
}

.btn-full:link,
.btn-full:visited {
    background-color: #e67e22;
    border: 1px solid #e67e22;
    color: #fff;
    margin-right: 15px;
}

.btn-ghost:link,
.btn-ghost:visited {
    border: 1px solid #e67e22;
    color: #e67e22;
}

.btn:hover,
.btn:active {
    background-color: #cf6d17;
    
}

.btn-full:link,
.btn-full:visited {
    background-color: 1xp solid #cf6d17;

    
}

.btn-ghost:hover,
.btn-ghost:active {
    border: 1px solid #cf6d17;
    color: #fff
}

/*---------------------------------------*/
/*----basic setup -------*/
/*---------------------------------------*/

header{
    background-image:linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)), url(./img/f1.jpg.png);
    background-size: cover;
    background-position: center;
    height: 100vh;
}

.logo{
    height: 100px;
    width: auto;
    float: left;
    margin-top: 20px;
}

.main-nav{
    float: right;
    list-style: none;
    margin-top: 55px;
}

.main-nav li {
    display: inline-block;
    margin-left: 40px;
    
}
.main-nav li a:link,
.main-nav li a:visited {
    padding: 6px 0;
    color: #fff;
    text-decoration: none;
    font-size: 90%;
    border: 2px solid transparent;
    transition: border-bottom 0.9s;
}

.main-nav li a:hover,
.main-nav li a:active {
   border-bottom: 2px solid #e67e22;
}